@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* @font-face {
  font-family: estedad;
  src: url("./Fonts/Estedad-v5.0-Fontjo.com/Estedad[wght\,kshd].ttf") format("truetype");
} */
=======

>>>>>>> b4ad5b12942724f63cfa5e9c52fc109a25e64ff9

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
